@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    background-color: cornflowerblue;
    font-family: 'rubik',sans-serif;
}

h1{
    text-align: center;
}

.accordion{
    max-width: 800px;
    margin: 90px auto;
    color: black;
    background-color: antiquewhite;
    padding: 45px 45px;
    border-radius: 10px;
}

.accordion .container{
    position: relative;
    margin: 10px 10px;
}

.accordion .label{
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.accordion .label::before{
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.accordion .content{
    position: relative;
    background-color: white;
    font-size: 20px;
    text-align: justify;
    max-width: 780px;
    overflow: hidden;
    transition: 0.5s;
    height: 0;
    border-radius: 10px;
}

.accordion .container.active .content {
    height: 150px;
    padding: 10px 10px 0 10px;
}
  
  /* Changes from plus sign to negative sign once active */
  
.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
}